        {% extends "baseA.html" %}
        {% block content %}
        <!--         --------                   Cuerpo de la pagina web             -------           -->
        <div class="main-container container">
            
            <!-- CATEGORIA MAS POPULARES -->
            <section class = "category" id="populares">
                <div class="head">
                    <h3>Cursos M&aacute;s Populares</h3>

                </div>
                <div class="gallery">
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-default">Ver M&aacute;s Cursos</a>
                </div>
            </section>
            
        <!-- SECCION DE RECIENTES -->
            <section class = "category" id="recientes">
                <div class="head">
                    <h3>Cursos M&aacute;s Recientes</h3>

                </div>
                <div class="gallery">
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-default">Ver M&aacute;s Cursos</a>
                </div>
            </section>
            
            <!-- CATEGORIA 1 -->
            <section class = "category" id="cat1">
                <div class="head">
                    <h3>Categoria 1</h3>

                </div>
                <div class="gallery">
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-default">Ver M&aacute;s Cursos</a>
                </div>
            </section>
            
            
            <!-- CATEGORIA 2 -->
            <section class = "category" id="cat2">
                <div class="head">
                    <h3>Categoria 2</h3>

                </div>
                <div class="gallery">
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image"></div>
                        <div class="info">
                            <h3>Titulo</h3>
                            <h6>Autor</h6>
                            <p>Aqui hay una breve descripcion del curso.</p>
                            <a href="#">Ver m&aacute;s...</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-default">Ver M&aacute;s Cursos</a>
                </div>
                
            </section>
            <div class="text-center">
                <a href="#" class="btn redbtn" >Cargar M&aacute;s Categor&iacute;as </a>
            </div>
        </div>
        
        {% endblock %}